*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

html
{
    max-height: 10000px;
}

body
{
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman';
    color: rgb(14, 165, 77);
    background-image: linear-gradient(120deg, #d4fc79 0%, #a0eeaa 100%);
}

.dot
{
    height: 40px;
    width: 40px;
    top: 40px;
    left: 25px;
    background-color: rgb(37, 230, 255);
    transition: 0.4s ease;
    border-radius: 80%;
    text-align: left;
    cursor: pointer;
    position: fixed;
}

.dot ul
{
    display: none;
}

.SpecialClass
{
    transition: 0.5s;
    background-color: rgb(248, 226, 139);
}

.SpecialClass .dot
{
    background-color: rgb(37, 150, 255);
}

.SpecialClass ul
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    list-style: none;
}

.SpecialClass ul li
{
    transform: none;
    padding-bottom: 20px;
}

.SpecialClass ul li a
{
    color: cornflowerblue;
    text-decoration: none;
}

.AllMenu
{
    z-index: 2;
    width: 120px;
    height: 300px;
    border-bottom-right-radius:50px ;
    border-top-right-radius: 40px;
    position: fixed;
    transform: translateY(10%);
}


.BodyTitle
{
    display: flex;
    height: 20vh;
    font-size: 8vw;
    margin:0;
    padding:0;
    /* justify content aranjeaza pe verticala */
    justify-content: center;
    /* align items aranjeaza pe orizontala */
    align-items: center;
    background-color: #FEF8DD;
}

.NiceText
{
    font-size: 3vw;
    margin-top: 30px;
}

p
{
    font-size: 3.5vw;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

footer
{
    font-size: 20px;
    margin-top: 100px;
}

a
{
    color: rgb(14, 165, 77);
    text-decoration: none;
}

.galery
{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    border: 20px rgba(62, 233, 162, 0.39) solid;
    text-align: center;
    max-height: 10000px;
    width: 85vw;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
}
figure
{
    padding: 50px 0px;
}

figure img
{
    width: 300px;
    height: auto;
    padding: 5px;
}

.GridBox
{
    /*grid-templates-row aligns the first row then auto comes into effect.*/
    overflow: hidden;
    display: grid;
    font-size: 15px;
    text-align: center;
    height: 800px;
    width: 80vw;
    margin-top: 70px;
    margin-left: 10%;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(2,47%);
    grid-column-gap: 5%;
    grid-row-gap: 6%;
    border: 20px rgba(62, 233, 162, 0.39) solid;
    padding: 50px;
}

.GridBox div
{
    overflow: hidden;
    justify-content: center;
    align-content: center;
}


@media only screen and (min-width: 1100px)
{
    body
    {
        font-size: 35px;
    }

    .BodyTitle
    {
        font-size: 6vw;
    }
    .NiceText
    {
        font-size: 2vw;
        margin-top: 35px;
    }

    .GridBox
    {
        font-size: 30px;
    }

    .dot
    {
        height: 60px;
        width: 60px;
        top: 40px;
        left: 65px;
    }

    .AllMenu
    {
        width: 220px;
        height: 350px;
    }

}