<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/stylesheet.css">
    <script src="./JS/menu.js"></script>
    <script src="./JS/galerieJavaScript.js"></script>
    <title id="titluMare">The Great Awakening</title>
</head>

<body>

<nav class="AllMenu" id="AllMenu">
    <div class="dot" id="dot" onclick="Dot()">
        <ul class="Selector" id="Selector">
            <li><a href="index.ejs">Home</a></li>
            <li><a href="galerie.ejs">Galery</a></li>
            <li><a href="contact.ejs">Contact</a></li>

        </ul>
    </div>
</nav>

<header class="BodyTitle">
    <h3>Galery</h3>
</header>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">LOG OUT</button>
  </form>

<article class="NiceText">
    <h2>Become Aware...</h2>
</article>

<ul id="unAlMeu" ondblclick="inverseList()">
    <li>This is not </li>
    <li>An Illusion </li>
    <li>Elem1</li>
    <li>Elem2</li>
</ul>


<div class="galery">
    <figure>
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(1).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(2).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(3).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(4).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(5).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(6).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(7).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(8).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(9).png" alt="Aaron Doughty" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Aaron%20Doughty%20(%20aaron_doughty44)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(10).png" alt="Aaron Doughty" >
        <figcaption>Aaron Doughty's quotes</figcaption>
    </figure>

    <figure>
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(1).png" alt = "Joe Dispenza" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(2).png" alt = "Joe Dispenza" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(3).png" alt = "Joe Dispenza" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(4).png" alt = "Joe Dispenza" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(5).png" alt = "Joe Dispenza" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(6).png" alt = "Joe Dispenza" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram(7).png" alt = "Joe Dispenza" >
        <img src="Fotografii/galery/Screenshot_2020-04-04%20Dr%20Joe%20Dispenza%20(%20drjoedispenza)%20•%20Fotografii%20şi%20clipuri%20video%20Instagram.png" alt = "Joe Dispenza" >
        <figcaption>Joe Dispenza's quotes</figcaption>
    </figure>
</div>

<footer>
    <p id="timeSpent"></p>
    Copyright © 2020 TAV High Load Impact. All Rights Reserved
</footer>

</body>
</html>