<h1>Login</h1>
<link rel="stylesheet" href="./CSS/stylesheet.css">
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input style="height:30px; width:150px;" type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input style="height:30px; width:150px;" type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<p></p>
<a href="/register">Register</a>