<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/stylesheet.css">
    <script src="./JS/menu.js"></script>
    <script src="./JS/matrixJavaScript.js"></script>
    <title>The Great Awakening</title>
</head>

<body>
<div id="OverWord" class="DummyClassWord">You are innactive. Stop wasting my time.</div>
<div id="OverLay" class="DummyClass"></div>

<nav class="AllMenu" id="AllMenu">
    <div class="dot" id="dot" onclick="Dot()">
        <ul class="Selector" id="Selector">
            <li><a href="index.ejs">Home</a></li>
            <li><a href="galerie.ejs">Galery</a></li>
            <li><a href="contact.ejs">Contact</a></li>
            <li><a href="matrix.ejs">Matrix</a></li>
        </ul>
    </div>
</nav>

<header class="BodyTitle">
    The Matrix
</header>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">LOG OUT</button>
  </form>

<article class="NiceText">
    <h3>"I imagine that right now you’re feeling a bit like Alice. Tumbling down the rabbit hole? I can see it in your eyes. You have the look of a man who accepts what he sees because he’s expecting to wake up. Ironically, this is not far from the truth. Do you believe in fate, Neo?" - Morpheus</h3>
</article>

<div class="GridBox">
    <div>
        <h3>The Pill</h3>
        <iframe allowfullscreen src="https://www.youtube.com/embed/zQ1_IbFFbzA"></iframe>
    </div>
    <div>
        <h3>Perfect world?</h3>
        <iframe allowfullscreen src="https://www.youtube.com/embed/9Qs3GlNZMhY"></iframe>
    </div>
    <div>
        <h3 onlick="changeAddress()">Wy do you persist?</h3>
        <iframe allowfullscreen src="https://www.youtube.com/embed/bIfzyYT1Oho"></iframe>
    </div>
    <div>
        <ul>
            <li><h3>Actori:</h3>
                <ul>
                    <li> <a href="https://www.imdb.com/name/nm0000206/?ref_=tt_ov_st_sm"> Keanu Reeves</a></li>
                    <li> Laurence Fishburne</li>
                    <li> Carrie-Anne Moss</li>
                 </ul>
            </li>
            <li><h3>Director: </h3>
                <ul>
                    <li> Lana Wachowski </li>
                    <li>  Lilly Wachowski</li>
                </ul>
            </li>
            <li>gen: Sci-Fi, Philosophy </li>
        </ul>
    </div>
    <div>
        <h3>There is no spoon</h3>
        <iframe allowfullscreen src="https://www.youtube.com/embed/uAXtO5dMqEI"></iframe>
    </div>
    <div>
        <h3>Premii:</h3>
        <ul>
            <li>Oscar:
            <ul>
                <li>Best Film Editing</li>
                <li>Best Effects</li>
            </ul></li>
            <li>Bafta:
            <ul>
                <li>Best Achievement in Special Visual Effects</li>
            </ul></li>
        </ul>
    </div>
</div>

<footer>
    <p id="timeSpent"></p>
    Copyright © 2020 TAV High Load Impact. All Rights Reserved
</footer>
</body>
</html>